* {
    padding: auto;
    margin: auto;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}

.header {
    display:flex; 
}

h1 {
    font-family: "Dancing Script";
    font-size: 100px;
}

.container img {
    display: flex;
}