* {
    padding: auto;
    margin: auto;
}

body {
    background: url(img/ballers.png);
    background-color: red;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 20%;
}


